@CHARSET "UTF-8";
.leftnavi>ul li:nth-child(5) li:nth-child(1) a{
	color:#393;	
}


.right-content{
	float:left;
	width:950px;
	background:#fff;
	padding:0 0 50px 0;
}
.rnavi{
	position: relative;
	width:910px;
	margin:0 auto;
	height:36px;
	border-bottom:2px solid #393;
	background:#eaf5ea;
}
.rnavi ul li{
	position: relative;
	float:left;
	width:120px;
	height:36px;
	
}

.rnavi ul li a{
	position: relative;
	display:block;
	width:120px;
	height:36px;
	color:#393;
	line-height: 36px;
	text-align: center;
}.rnavi ul li:nth-child(1) a{
	background:#393;
	color:#fff;
}.rnavi>span{
	line-height: 36px;
	margin:0 15px 0 15px;
	font-size:14px;
	color:#333;
}.rnavi>span span{
	color:#f00;
}
.orderinfor , .wuliuinfor ,.caozuo{
	position: relative;
	width:870px;
	margin:40px auto;
}.wuliuinfor{
	padding:0 0 20px 0 ;
	border-bottom: 1px dashed #ccc;
}.linep{
	line-height: 25px;
	color:#1a1a1a;
	font-size:14px;
}
.ttp{
	position: relative;
	width:858px;
	padding:0 0 0 10px;
	border-left:2px solid #393;
	height:20px;
	line-height: 20px;
	color:#393;
	font-weight: bold;
	margin:20px 0 ;
}
.oidiv1{
	position: relative;
	width:870px;
	padding:0 0 10px 0;
	border-bottom: 1px solid #ccc;
}
.oidiv1 p{
	font-size: 14px;
	color:#1a1a1a;
	line-height: 20px;
	
}
.oidiv1 span{
	font-size: 14px;
	color:#666;
	line-height: 20px;
	margin:0 30px 0 0;
}
.orderinfor ul li{
	position: relative;
	height:80px;
	padding:15px 0 0 0;
}.orderinfor ul li img{
	width:80px;
	height:80px;
}.orderinfor ul li span{
	display:block;
	margin:10px 40px 0 0;
	line-height: 30px;
	color:#1a1a1a;
}.orderinfor ul li .fl:nth-child(2){
	margin:10px 200px 0 20px;
}.orderinfor ul li p{
	width:540px;
	margin:0 0px 0 20px;
	line-height: 30px;
	color:#808080;
}
.orderinfor .pricep{
    width:860px;
	padding:10px 0 10px 10px;
	border-top:1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	margin:20px 0 0 0;
}
.orderinfor .pricep span{
	margin:0px 20px 0 0;
	color:#1a1a1a;
}







