@CHARSET "UTF-8";
.leftfloat2{
    position: fixed;
    bottom: 150px;
    left: 280px;
    z-index: 11;
	display: none;
}
.leftfloat2 ul{
	display: block;
	position: relative;
	width:70px;
	/* height:283px; */
	background: #fff;
	box-shadow: 0 0 10px #dbdbdb;
}.leftfloat2 ul li{
	position: relative;
	width:50px;
	height:70px;
	border-bottom: 1px solid #dbdbdb;
	margin: 0 auto;
}


.leftfloat2 ul li:last-child{
	border-bottom: none;
}.leftfloat2 ul li a{ 
	display: block;
	position:relative;
	width:70px;
	height:70px;
	margin: 0 0 0 -10px;
	text-align: center;
	color: #808080;
	font-size: 14px;
	
}.leftfloat2 ul li a p{ 
	position: relative;
	top:15px;
}
.leftfloat2 ul li a span{ 
	position: absolute;
	top:3px;
	left:3px;
}
.leftfloat2 ul li a:hover{ 
	background:#393;
	color:#fff;
}
.navi .navinner .mainul li:first-child{
	background-color:#339933;
	box-shadow: inset 0px 0px 5px #556655;
}
.navi .navinner .mainul li:nth-child(5){
	background-color:#339933;
	box-shadow:inset 0px 0px 5px #556655;
}
.navi .navinner .mainul li:first-child .childul li:first-child , .navi .navinner .mainul .childul2 li:first-child{
	background-color:inherit;
	box-shadow:none;
}
.navi .navinner .mainul li:nth-child(1) .childul li:nth-child(5) , .navi .navinner .mainul .childul2 li:nth-child(5){
	background-color:inherit;
	box-shadow:none;
}
.navi .navinner .mainul li:first-child .childul {
	display:block;
}
.navi .navinner .mainul li:first-child .divul1{
	display:block;
}
.navi .navinner .mainul li:first-child a{
	color:#fff;
}
.navi .navinner .mainul li:nth-child(5) a{
	color:#fff;
}

.loginandgg{
	position: relative;
	width:1190px;
	margin: 0 auto;
	height: 0px;
}
.userlogin{
	position: absolute;
	left:950px;
	top:1px;
	width:240px;
	height: 280px;
	float:right;
	background:#fff;
	text-align: center;
	z-index: 9;
}.userlogin p{
	position: relative;
	height:46px;
	width: 200px;
	margin:0 auto;
	text-align: center;
	line-height: 46px;	
	color:#4c4c4c;
	border-bottom: 1px solid #dbdbdb;
}.userlogin .weilogin li{
	position: relative;
	height:30px;
	width: 200px;
	margin:0 auto;
	line-height: 32px;	
	color:#4c4c4c;
	border:1px solid #393;
	border-radius: 3px;
	margin: 20px auto 0 auto;
}
.userlogin .weilogin li input{
	width:160px;
	height: 30px;
	float:right;
}.userlogin .weilogin li i{
	float:left;
	margin: 0 0 0 10px;
}.userlogin .weilogin li:nth-child(3){
	border:none;
	margin: 10px auto 0 auto;
}.userlogin .weilogin li:nth-child(4){
	border:none;
	margin: 15px auto 0 auto;
}.userlogin .weilogin li:nth-child(4) input{
	background: #339933;
	border-radius:3px;
	color: #fff;
	width:200px;
}
.userlogin .weilogin li:nth-child(3) a{
	color: #339933;
	font-size: 14px;
}.userlogin .weilogin li:nth-child(3) .lefta{
	float:left;
}.userlogin .weilogin li:nth-child(3) .righta{
	float:right;
}.userlogin .weispan{
	font-size: 14px;
	line-height: 40px;
	margin: 0 5px 0 5px;
}.userlogin .weispan i{
	font-size: 25px;
	color: #339933;
	line-height: 40px;
}/*以上为用户未登录时的样式*/

/*以下为用户登录时的样式*/
.userlogin .yilogin li{
	position: relative;
	height:60px;
	width: 240px;
	margin:0 auto;
	line-height: 60px;	
	color:#4c4c4c;
	border-bottom:1px solid #dbdbdb;
	border-radius: 3px;
}
.userlogin i{
	color:#339933;
	font-size: 18px;
}
.userlogin .yilogin li:nth-child(2) span,.userlogin .yilogin li:nth-child(3) span{
	float:left;
	margin: 0 26px 0 20px;
	color:#4C4C4C;
	font-size: 14px;
}


.userlogin .yilogin li:first-child{
	height:65px;
	line-height: 65px;	
}
.userlogin .yilogin li:first-child .headimg{
	float:left;
	width:30px;
	margin: 17.5px 0 0 20px; 	
}.userlogin .yilogin li:first-child span{
	float:left;
	margin:0px 0 0 10px; 	
}.userlogin .yilogin li:first-child .djimg{
	float:left;
	width:20px;
	margin:22.5px 0 0 10px; 	
}
.userlogin .yilogin li:last-child{
	border:none;
}
.userlogin .tuichua{
	border:1px solid #393;
	display: block;
	width: 200px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color:#339933;
	margin: 20px auto;
	border-radius: 4px;
}

.gongao , .hotnews, .tuijian{
	position: absolute;
	left:950px;
	top:291px;
	width:240px;
	height: 370px;
	background:#FFF;
	z-index: 10;
	overflow: hidden;
}.hotnews{
	top:1px;
	left:0px;
	height: 260px;
}
.tuijian{
	top:270px;
	left:0px;
	height: 260px;
}
.usertip{
	position: absolute;
	left:0px;
	top:541px;
	width:240px;
	height: 120px;
	background:#c8f4c8;
	z-index: 10;
	overflow: hidden;
}
.usertip .tipd{
	position: relative;
	width:100%;
	border-bottom: 1px solid #dbdbdb;
	height:59px;
	padding:1px 0 0 0;
}
.usertip .tipd a{
	display:block;
	position: relative;
	width:180px;
	border: 1px solid #393;
	border-radius:4px;
	margin:14px auto;
	height:30px;
	line-height: 30px;
	font-size: 14px;
	color:#393;
	text-align: center;
	
	
	background: -moz-linear-gradient(top, #e5fee5 0%, #abeeab 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5fee5), color-stop(100%,#abeeab)); 
	background: -webkit-linear-gradient(top, #e5fee5 0%,#abeeab 100%); 
	background: -o-linear-gradient(top, #e5fee5 0%,#abeeab 100%); 
	background: -ms-linear-gradient(top, #e5fee5 0%,#abeeab 100%); 
	background: linear-gradient(to bottom, #e5fee5 0%,#abeeab 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5fee5', endColorstr='#abeeab',GradientType=0 ); 
	 


}
.gongao p ,.tuijian p ,.hotnews p{
	text-align: center;
	line-height: 40px;
	color:#393;
}
.gongao label,.tuijian label ,.hotnews label{
	position:relative;
	display:block;
	height:2px;
	width:70px;
	margin:0px auto 10px auto;
	background:#393;
}

.gongaoul1{
	display: block;
	position: relative;
	width:200px;
	margin: 0 auto;
}
.gongaoul1 li{
	position: relative;
	height: 31px;
	line-height: 31px;
	width:200px;
} .gongaoul1 li a{
	display:block;
	height: 31px;
	line-height: 31px;
	width:200px;
	overflow: hidden;
	white-space: nowrap;
	word-break: keep-all;
	text-overflow: ellipsis;
}
 .gongaoul1 li a:hover{
	color:#339933;
}	
.cinner{
	position: relative;
	width:1190px;
	margin:40px auto 0 auto;
}
.floor{
	position:relative;
	width:100%;
	height:460px;
	background:#fff;
	margin:0 0 50px 0;
}
.floor .titlediv{
	position:relative;
	width:100%;
	height:40px;
	border-bottom: 3px solid #393;
}
.floor .titlediv p{
	position:relative;
	width:190px;
	height:40px;
	line-height: 40px;
	float:left;
	background:#393;
	font-size:18px;
	color:#fff;
}.floor .titlediv p span{
	font-size:26px;
	margin:0 8px 0 10px;
}
.floor .titlediv>span{
	display:block;
	float:left;
	height:40px;
	line-height: 40px;
	margin:0 0 0 20px;
	font-size:14px;
	color:#808080;
}.floor .titlediv>a{
	float:right;
	height:40px;
	line-height: 40px;
	margin:0 20px 0 0;
	font-size:14px;
	color:#393;
}
.floor .infordiv{
	position:relative;
	width:1150px;
	margin:20px auto;
	height:362px;
}.floor .infordiv .leftimg{
	float:left;
	position:relative;
	width:268px;
	height:358px;
	border:1px solid #dbdbdb;
}
.floor .infordiv .leftimg .imgdiv{
	position:relative;
	width:268px;
	height:200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size:100%;
}
.floor .infordiv .leftimg .wenzidiv{
	position:relative;
	width:250px;
	height:158px;
	margin:0 auto;
}.floor .infordiv .leftimg .wenzidiv .tp{
	font-size: 18px;
	color:#1a1a1a;
	margin:10px 0 0 0;
	line-height: 25px;
}
.floor .infordiv .leftimg .wenzidiv p:nth-child(2){
	font-size: 14px;
	color:#4c4c4c;
	margin:10px 0 0 0;
	line-height: 25px;
	height:75px;
	display:-webkit-box;
	overflow:hidden;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical; 
}
.floor .infordiv .leftimg .wenzidiv .tp{
	font-size: 18px;
	color:#1a1a1a;
}
.floor .infordiv .rightdiv{
	float:right;
	position:relative;
	width:862px;
	height:348px;
	margin:10px 0 0 0;
}
.floor .infordiv .rightdiv ul li{
	position:relative;
	width:100%;
	height:40px;
	border-bottom: 1px dashed #dbdbdb;
}.floor .infordiv .rightdiv ul li a{
	position:relative;
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#1a1a1a;
}.floor .infordiv .rightdiv ul li .datespan{
	display:block;
	float:right;
	color:#808080;
}.floor .infordiv .rightdiv ul li a:hover{
	color:#393;
}






.bannar{
			position:relative;
	 	}
	 	
	 	.center-img{
	 		width:1920px;
	 		
	 		overflow:hidden;
	 		height: 660px;
	 		margin: 0 auto;
	 	}
	 	.center-img li img{
	 		width:100%;
	 	}
	 	.center-img li{
	 		width:33.33%;
	 		float:left;
	 		padding:0px;
	 		margin:0px;
	 	}
	 	.center-img li a{
			display: block;
	 	}
	 	.center-img ul{
	 		width:300%;              /* 为了让所有图片能够在一行显示   */
	 		padding:0px;
	 		margin:0px;
	 	}
	 	ul,ol,li{
	 		list-style:none;
	 	}
	 	.yuan{
	 		position:absolute;
	 		left:50%;
	 		margin-top:-30px;
	 		padding:0px;
	 	}
	 	.yuan li{
	 		float:left;
	 		width:15px;
	 		height:15px;
	 		margin:0 5px 0 5px;
	 		padding:0px;
	 		background-color:#a1a1a1;
	 		/* border:1.5px solid #339933; */
	 		border-radius:50%;
	 		cursor: pointer;
	 	}
	 	.yuan .on{                   /*当前图片对应的小圆点的样式 */
	 		background-color:#339933;
	 	}
	 	